<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Your Account</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div>
      <h1 id="name"></h1>
      <h2>Welcome to Your Account</h2>
      <p>Here is your account content.</p>
      <!-- TODO: 
        - create update user details button, new html for it and new rest handler to update
        - create delete user account button and new rest handler
      -->
      <div>
        <button onclick="logout()">Log out</button>
        <button>
          <a href="/">Go to Homepage</a>
        </button>
      </div>
    </div>
  </body>
  <script>
    // Function to get the user's name from the server
    const getName = () => {
      fetch("/account/user")
        .then(response => response.json())
        .then(data => {
          if (data.fullName) {
            document.getElementById("name").innerText = data.fullName
          } else {
            window.location.href = "/"
          }
        })
        .catch(error => console.error("Error:", error))
    }

    const logout = () => {
      fetch("/account/logout", { method: "POST" })
        .then((response) => response.json())
        .then(() => {
          window.location.href = "/"
        })
        .catch((error) => console.error("Error:", error))
    }

     // Get the user's name when the page loads
     window.onload = getName
  </script>
</html>
