<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Your Account</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div>
      <h1 id="name"></h1>
      <h2>Welcome to Your Account</h2>
      <p>Here is your account content.</p>
      <div>
        <button onclick="logout()">Log out</button>
        <button>
          <a href="/">Go to Homepage</a>
        </button>
      </div>
    </div>
  </body>
  <script>
    // Get the user's name from localStorage
    const name = localStorage.getItem("name")

    // Insert the name
    document.getElementById("name").innerText = name

    // Get the current time and the token's expiry time
    const now = Math.floor(Date.now() / 1000)
    const tokenExpiry = localStorage.getItem("tokenExpiry")

    const logout = () => {
      localStorage.removeItem("token")
      localStorage.removeItem("tokenExpiry")
      localStorage.removeItem("name")
      window.location.href = "/"
    }
    // If the token has expired, clear the token from localStorage and redirect to the login page
    if (now >= tokenExpiry) {
      logout()
    }

  </script>
</html>
